{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center ">
    <i><h1 class="text-center mt-4 mb-4 text-light i">Todo List Keeper</h1></i>
    <div class="d-flex flex-column p-2 m-2 bg-light rounded w-100" style="max-width:800px;">  
      <h3 class="text-center m-2">Add a Todo</h3>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="Title" required>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="description" placeholder="Description" required></textarea>
          </div>
        </div>
      </form>
        <code class="text-danger mt-2 error"></code>
        <div class="form-group mt-3">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success" onclick="createTodo()">Create</button>
          </div>
        </div>
    </div>
    <div class="d-flex flex-column m-2 text-dark  flex-wrap w-100"      style="max-width:800px;"> 
      <div class="d-flex flex-column   bg-light rounded "> 
        <h3 class="text-center m-2">Todo List</h3>
        <ul class="list-group">
          {% for todo in todos %}
            <li class="list-group-item d-flex flex-column position-relative pr-5">
              <p class="m-0 text-uppercase font-weight-bold">{{ todo.title }}</p>
              <p class="m-0">{{ todo.description }}</p>
              <p class="m-0 align-self-end font-weight-light text-secondary">{{ todo.created_at|date('d/m/Y H:i') }}</p>
              <button class="btn btn-danger align-self-center btn-sm h1 w-25 position-absolute" onclick="deleteTodo({{ todo.id }})" style="max-width:max-content; top: 4px; right:4px">X</button>
            </li>
          {% endfor %}
        </ul>
        {% if todos ==  []%}
            <p class="mt-4 text-center">No Todos Yet</p>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
  function createTodo(){
    let title = document.getElementById('title').value;
    let description = document.getElementById('description').value;
    if(title.trim() === '' || description.trim() === ''){
      document.querySelector('.error').innerHTML = 'Please fill all the fields';
      return;
    }
    fetch('/todo/add/'+title+'/'+description)
    .then(function(response) {
      return response;
    })
    .then(()=>{
      window.location.href = '/todo';
    })
    .catch(function(error) {
      console.log(error);
    });
    
  }

  function deleteTodo(id){
    fetch('/todo/delete/'+id, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .catch(function(error) {
      console.log(error);
    });
    window.location.reload();

  }
</script>
{% endblock %}
